brain/.venv/
brain/models/
brain/data/
brain/data/log/
body/assets/
ner/.venv/
ner/models/
__init__.py
__cache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.vscode/
.idea/
.env
.env.*
CLAUDE.md